<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Carla and Chris 2014", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
		  <li><%= link_to "Details"%></li>
		  <li><%= link_to "Gift Registry"%></li>
		  <li><%= link_to "RSVP"%></li>

        </ul>
      </nav>
    </div>
  </div>
</header>

